notebooks/albums_html
notebooks/charts_html
notebooks/genius
notebooks/moderation
notebooks/lyrics

venv
.idea
.env
.venv
__pycache__
data/charts_html
data/genius
data/moderation
data/lang
data/detox
data/lyrics
data/csv/*.xlsx
archiv.zip
experiments/results
experiments/models
experiments/.ipynb_checkpoints
doc/data_lit_23-24_paper/fig/*.pdf
